
.body{
    margin: 0;
    padding: 0;
    background-color: rgb(12, 139, 16);
}

.container{
    background-color: rgb(80, 228, 142);
    font-family: Arial, sans-serif;
}
.container header {
    background-color: #333;
    color: #2eaf1c;
    padding: 20px;
    text-align: center;

}

.sidebar{
    background-color:rgb(80, 107, 228);
    color: #fff;
    display: flex;
    
    
}
sidebar li{
    margin-bottom: 20px;
}

